style.
    .custom-shape-divider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider svg {
        position: relative;
        display: block;
    }

<div class="custom-shape-divider">
    include ./Frame2.html
</div>
